$box-shadow-light: rgba(0,0,0,0.15);

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1.1rem;
    font-weight: 100;
}

button {
    background-color: #000;
    border: 0;
    border-radius: 40px;
    box-shadow: none;
    color: #fff;
    padding: 8px;
    text-decoration: none;  
}

img {
    width: 100px;
}

select {
    border-radius: 40px;
    padding: 4px;
    width: 125px;
    -webkit-appearance: none;
    border: 1px solid red;
}

// code for custom button selector
.custom-arrow img {
    width: 33px;
    height: 33px;
    position: relative;
    top: 12px;
    right: 25px;
}


// One of the most useful things about SASS is the variables, this is a small CSS file so not strictly necessary but if you were working on a large code base
// and you used rgba(0,0,0,0.15) in a lot of places you'd give yourself a hard job if one day all of those places had to be rgba(0,0,0,0.5) or if someone changed 
// just one expecting that to be it and then they all got out of sync. Using SASS variables means you'd only have to change them in one place

// I added one at the top of this file called $box-shadow-light as an example
// https://sass-lang.com/documentation/variables
.device {
    border: 1px solid #000;
    box-shadow: 4px 4px 10px 0px $box-shadow-light;
    margin: 5% auto;
    text-align: center;
    width: 700px;

    &__box {
        background: #000;
        color: #fff;
        width: 700px;
    }

    &__header {
        margin-top: 0;
        padding: 7px 0;
        text-align: center;
    }

    &__section2 {
        padding: 20px;
    }

    &__standard-select {
        font-size: 1.1rem;
        font-weight: 100;
    }

    &__select {
        margin: 10px 20px 30px;
    }

    &__models {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    &__button {
        margin: 0 4% 4%;
    }
}

.card {
    border: 1px solid black;
    box-shadow: 4px 4px 10px 0px $box-shadow-light;
    margin: auto 6px;
    position: relative;
    width: calc(20%);

    &__text {
        background: rgba(0,0,0,0.6);
        color: #fff;
        font-size: 0.8rem;
        padding: 1px;
        &:hover{
            background-color: rgba(60, 179, 113, 0.8);
        }
    }

    &__text p {
        margin: 3px 1px;
    }

}
